<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Çalışma arkadaşımız Selin, genellikle bize yaklaşımı  çözüm odaklı, yenilikçi ve detaylara önem veren biridir. Ayrıca ekip çalışmalarında iletişim becerileriyle öne çıktığı ve projelere değer katan bir bakış açısı sunduğu için kendiisne teşekkür ederiz.
                </p>
                <div class="testimonials__author h06">
                    Timur Yılmaz
                    <span>CEO</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                   Başarılı pırıl pırıl bir genç. Enerjisi hiç bitmiyor. Sabırlı olması onu öne çıkarıyor.
                </p>
                <div class="testimonials__author h06">
                    Sami Aksak
                    <span>CEO </span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                    Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                </p>
                <div class="testimonials__author h06">
                    Satya Nadella
                    <span>CEO, Microsoft</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>
